body {
  font-weight: lighter;
}

a {
  font-family: "quicksand", sans-serif;
}

.cover {
  border-radius: 7px;
}
ul {
  list-style-type: decimal;
  list-style-position: inside;

  margin-left: 15px;
}
li {
  color: var(--farve2);
  margin-bottom: 1rem;
}
li::marker {
  color: var(--light);
}
h1 {
  font-weight: lighter;
}

header {
  margin-bottom: 3rem;
}

footer {
  margin-top: 3rem;
}

h3,
h2 {
  color: #a09e9f;
  font-weight: lighter;
}

h2 {
  margin-bottom: 0.5rem;
}

.lyt {
  text-decoration: none;
  color: var(--farve2);
  font-size: 20px;
}

.lyt_knap {
  background-color: var(--knapfarve);
  border: none;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 7px;
  max-width: 200px;
}

.tilbage {
  background-color: var(--lighter);
  border: none;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 7px;
  margin-bottom: 1rem;
}
i {
  color: var(--farve2);
  font-size: 20px;
}

img {
  max-width: 250px;
}

.hr-line {
  border-top: 0.5px solid #a09e9f;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  main {
    max-width: 250px;
    margin: auto;
  }
  .lyt_knap {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  h1 {
    margin-top: 0.5rem;
  }
}

@media (min-width: 600px) {
  .albumgrid {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  /**sup**/
  .flexy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h1 {
    font-size: 50px;
    margin-top: 5px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 50px;
  }
}
